#row1 {
	height: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #dd1c77;
}

#row2 {
	height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f15673;	
}

#row3 {
	height: 500px;
    margin-right: auto;
    margin-left: auto;
    background-color: #80ced6;
}

h2{
    height: 100px;
}

#fossil_map {
	width: 1200px;
	height: 700px;
	float: left;
    background-color: red;
}

#era_cart {
	height: 1000px;
	width: 700px;
	float: left;
    background-color: blue;
}

#era_bar {
	width: 300px;
	float: left;
}

#phylum_lines {
	width: 600px;
	float: left;
    background-color: orange;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
