#row1 {
	height: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f18973;
}

#row2 {
	height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f15673;	
}

#row3 {
	height: 500px;
    margin-right: auto;
    margin-left: auto;
    background-color: #80ced6;
}

#fossil_map {
	width: 300px;
	float: left;
    background-color: red;
}

#era_cart {
	width: 300px;
	float: left;
}

#era_bar {
	width: 300px;
	float: left;
}

#phylum_lines {
	width: 600px;
	float: left;
    background-color: orange;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
