#row1 {
	height: 80vh;
    margin: auto;
    background-color: #984ea3;
}

#row2 {
	height: 50vh;
    margin: auto;
    background-color: #f15673;	
}

#row3 {
	height: 50vh;
    margin: auto;
    background-color: #80ced6;
}

h2{
    	height: 40px;
	background-color: #8856a7;
}

p{
	background-color: #80ced6;
	width: 30vw;
}

#fossil_map {
    	margin: 20px;
	height: 60vh;
	width: 60vw;
	float: right;
	background-color: orange;
}

#era_cart {
    	margin: 20px;
	height: 40vh;
	width: 30vw;
	float: left;
    background-color: blue;
}

#era_bar {
	height: 40vh;
	width: 60vw;
	margin: 20px;
	float: left;
	background-color: orange;
}

#phylum_lines {
	height: 40vh;
	width: 30vw;
	margin: 20px;
	float: left;
    background-color: orange;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
